@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);


* {
    box-sizing: border-box;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

/* Add this at the very top of your CSS */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

html,
body {
    overflow-x: clip;
    width: 100%;
    scrollbar-color: var(--primary-red) transparent;
    scrollbar-width: thin;
}

:root {
    --primary-red: #cc0000;
    --white: #ffffff;
    --light-gray: #f4f4f4;
    --dark-text: #333333;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-red);
    border-radius: 5px;
}